#!/usr/bin/env bash
# note: can't use standard setup.sh include other than from an executing script.

# macOS system python in mojave is harmful to us.
unset PYTHONPATH

set -o nounset

# GOBIN for tool dependencies via
# https://github.com/go-modules-by-example/index/blob/master/010_tools/README.md#tools-as-dependencies
export GOBIN="${PWD}/bin"

# modify PATH to be
# 1. compiled tools from this repo
# 2. toolshare-v2 provided tools at versions pinned by .toolsharerc
# 3. pyenv-provided things
# 4. workflow/ scripts for convenience (those are main entry-points)
# 5. whatever your PATH was before you arrived
export PATH="${GOBIN}:${HOME}/.pyenv/bin:${PATH}"
# update shell's resolutions of binaries based on PATH, since just changed it.
hash -r

export PYENV_VIRTUALENV_DISABLE_PROMPT="1"
# 'pyenv' wants to modify the PROMPT_COMMAND variable and tries to read it but fails if it's not yet defined
# (because we use strict-mode bash which fails on unset vars).
set +o nounset

eval "$(pyenv init -)"
eval "$(pyenv virtualenv-init -)"
virtualenv_name="$(basename "$(pwd)")"
pyenv activate "${virtualenv_name}"
if ! pyenv virtualenvs | grep "\\* ${virtualenv_name}"; then
  echo "Failed to \`pyenv activate ${virtualenv_name}\`."
fi
